<?xml version="1.0" encoding="utf-8"?>
<!-- IIS web.config für PWA mit korrekten MIME-Types -->
<!-- Für Microsoft IIS Server -->
<configuration>
  <system.webServer>
    <staticContent>
      <!-- MIME-Types definieren -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      
      <!-- PWA Icons -->
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
    </staticContent>

    <!-- HTTP Headers für bessere PWA-Performance -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <!-- Service Worker -->
        <add name="Service-Worker-Allowed" value="/" />
      </customHeaders>
    </httpProtocol>

    <!-- Kompression aktivieren -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <!-- Cache-Control -->
    <caching>
      <profiles>
        <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="365.00:00:00" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
